$grid-gutter-width:           1.5rem !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

//containers
$container-padding-x: $grid-gutter-width * .5 !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
) !default;


//colours
$white:                     #ffffff !default;
$dark:                      #212529 !default;
$light:                     #f8f9fa !default;

$body-bg:                   $light!default;

$font-family:               "Roboto", sans-serif !default;;
$font-size-root:            16px !default;
$font-size-base:            1rem !default;
$font-weight-base:          400 !default;
$font-color:                $dark !default;
$line-height-base:          1.5 !default;
$font-size-sm:              $font-size-base * .875 !default;
$font-size-lg:              $font-size-base * 1.25 !default;

/**
 * Page Elements
 */

//header
$header-height:             80px!default;